<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <!-- <div class="mb-3">
        <label>Who is your favourate user</label>
        <select class="form-select">
            userFromHomeComponent no signal // This is the input property from the parent component 
            @for (user of userFromHomeComponent(); track $index) {
                <option value="{{user.id}}">{{user.userName}}</option>
            }
        </select>
    </div> -->
    <div class="mb-3">
        <label style="margin-right: 10px;">I am a: </label>
        <label class="form-check-label me-2">
            <input type="radio" formControlName="gender" value="male"> Male
        </label>
        <label class="form-check-label">
            <input type="radio" formControlName="gender" value="female"> Female
        </label>
    </div>

    <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [label]="'Known as'"></app-text-input>
    <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])"
        [label]="'Date of birth'" [maxDate]="maxDate"></app-date-picker>
    <app-text-input [formControl]="$any(registerForm.controls['city'])" [label]="'City'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['country'])" [label]="'Country'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'"
        [type]="'password'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirm password'"
        [type]="'password'"></app-text-input>

    @if (validationErrors) {
        <div class="alert alert-danger text-start">
            <ul class="mb-0">
                @for (error of validationErrors; track $index) {
                    <li>{{ error }}</li>
                }
            </ul>
        </div>
    }

    <div class="form-group text-center">
        <button [disabled]="registerForm.invalid" class="btn btn-success me-2" type="submit">Register</button>
        <button (click)="cancel()" class="btn btn-danger" type="button">Cancel</button>
    </div>

</form>