<div>
    <button class="btn btn-outline-primary me-3" (click)="get400Error()">Test 400 error</button>
    <button class="btn btn-outline-primary me-3" (click)="get401Error()">Test 401 error</button>
    <button class="btn btn-outline-primary me-3" (click)="get404Error()">Test 404 error</button>
    <button class="btn btn-outline-primary me-3" (click)="get500Error()">Test 500 error</button>
    <button class="btn btn-outline-primary me-3" (click)="get400ValidationError()">Test 400 Validation error</button>

    @if (validationErrors.length > 0){
        <div class="row-5">
            <ul class="text-danger">
                @for (errorMess of validationErrors; track $index) {
                    <li>{{ errorMess }}</li>
                }
            </ul>
        </div>
    }
</div>
